body {
    background-color: #000000;
    
}

.navigation {
    display: inline-flex;
    flex-wrap: inherit;
}


.navlinks {
  color: white;
  font-size: 15px;
  position: relative;
  margin-top: 18px;
  display: inline;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-left: 300px;
  word-spacing: 150px;
}

.navlinks a {
text-decoration: none;
color: white;
font-size: 15px;
border: 1px solid black;
padding: 5px 15px;
border-radius: 15px;
}

.navlinks a:hover {
color: white;
font-size: 15px;
border-top: 2px solid white;
border-bottom: 2px solid white;
border-radius: 15px;
}

.href {
    box-sizing: border-box;
    border: 1px solid #010101;
    background-color: #ffffff;
    padding: 2px 5px;
    margin-top: 10px;
    margin-left: 350px;
    border-radius: 15px;
    position: relative;
}

.github {
    padding-right: 10px;
    opacity: calc(70%);

}

.linkedin {
    padding-right: 10px;
    padding-bottom: 4px;
}

.instagram,
.linkedin {
    filter: grayscale(100%);
}


.main { 
  position: relative;
  top: 100px;
  display: flex;
}

.hr {
  opacity: 70%;
}

.potrait {
  filter: grayscale(100%);
  left: 1100px;
  position: relative;
  bottom: 554px;
}

.potrait:hover {
  opacity: 5%;
}

.in {

  left: 1100px;
  position: relative;
  bottom: 300px;
}

.name {
  top: 0px;
  right: 350px;
  position: relative;
  color: #ffffff;
  font-family: roboto;
  text-align: center;
}


h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
  letter-spacing: 2px;
}


h4 {
  color: white;
  position: relative;
  font-family: cursive;
  text-align: center;
  justify-content: center;
  right: 350px;
  top: 100px;
  font-weight: 100;
}

p {
  color: #ffffff;
  font-family: roboto;
  text-align: center;
  font-weight: 300;
}

.words {
  top: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  margin-right: 700px;
  margin-left: 50px;
}



.ep {
    font-size: 15px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffffff;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.ep::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.ep:hover {
  color: #000000;
  transition-delay: 0.5s;
}

.ep:hover::before {
  width: 100%;
}

.ep::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.4s ease;
  z-index: -1;
}

.ep:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(0, 0, 0);
}



